#board {
  margin: 0;
  background-color: rgb(91, 149, 185);
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.circle {
  stroke: rgb(8, 105, 165);
  fill: rgba(255, 255, 255, 0.644);
  stroke-width: 3;
  transition: fill 0.1s ease;
  filter: drop-shadow(3px 3px 2px rgb(8 105 165 / 1));
}

.block {
  border-color: rgb(60, 129, 172);
  border-style: solid;
  background: radial-gradient(
    circle,
    rgba(46, 121, 168, 0.377) 0%,
    rgba(46, 134, 161, 0.13) 100%
  );
}

.row {
  display: flex;
  flex-direction: row;
}

.player1 {
  fill: red;
}

.player2 {
  fill: yellow;
}

.player1over {
  fill: rgba(255, 0, 0, 0.397);
}

.player2over {
  fill: rgba(255, 255, 0, 0.459);
}
